.list-item {
  list-style-type: none;
  padding: 1em;

  &:nth-child(odd) {
    background-color: rgba(135, 206, 250, .07);
  }

  &.clickable {
    cursor: pointer;
  }

  &:hover {
    .delete-item,
    .edit-item {
      display: inline-block;
    }
  }
}
