.new-person {
  bottom: 15px;
  position: absolute;
  right: 15px;
  z-index: 50;
}

.person-details {
  padding: 1em 2em;
  position: absolute;
  right: 15px;
  top: 15px;
  width: 50%;
  z-index: 30;
}
