.button {
  background-color: #e1e1e1;
  border: 2px solid #363636;
  color: #363636;
  float: right;
  font-size: 18px;
  font-weight: bold;
  margin-left: 2em;
  padding: 1em;
  &.confirm {
    background-color: lightskyblue;
  }
}