html,
body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

#app {
  ul {
    padding: 0;
  }
  
}

.modal-content {
  background: white;
  border: 1px solid lightskyblue;
  box-shadow: 4px 4px 5px lightskyblue;
  padding: 3rem;
}

.hidden-submit {
  height: 0;
  visibility: hidden;
  width: 0;
}

// .buttons-container {
//   clear: both;
//   float: right;
// }

// Colors
$black: #000;
$gray-dark: #363636;
$white: #fff;