html,
body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

#app {
  ul {
    padding: 0;
  }
  li {
    list-style-type: none;
    padding: 1em;

    &:nth-child(odd) {
      background-color: rgba(135, 206, 250, .07);
    }

    &.clickable {
      cursor: pointer;
    }

    .delete-item {
      border: 1px solid red;
      border-radius: 4px;
      color: red;
      cursor: pointer;
      display: none;
      line-height: 0;
      margin: 0 1em;
      padding: .5em .2em;
    }

    .edit-item {
      border: 1px solid green;
      border-radius: 4px;
      color: green;
      cursor: pointer;
      display: none;
      line-height: 0;
      margin: 0;
      padding: .5em .2em;
    }

    &:hover {
      .delete-item,
      .edit-item {
        display: inline-block;
      }
    }
  }
}

.modal-content {
  background: white;
  border: 1px solid lightskyblue;
  box-shadow: 4px 4px 5px lightskyblue;
  padding: 3rem;
}

.hidden-submit {
  height: 0;
  visibility: hidden;
  width: 0;
}

// .buttons-container {
//   clear: both;
//   float: right;
// }

// Colors
$black: #000;
$gray-dark: #363636;
$white: #fff;